.formContainer {
  width: 360px;
  flex-shrink: 0;
}
.locationWrapper {
  position: relative;
}
.input {
  border-radius: 12px;
  padding: 18px 218px 18px 48px;
  width: 360px;
  height: 56px;
  background: var(--inputs);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  margin-bottom: 40px;
  border: none;
}
.input::placeholder {
  color: var(--gray);
}
.iconLocation {
  position: absolute;
  top: 18px;
  left: 20px;
  /* fill: #6c717b; */
  fill: #101828;
}
.input .label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  margin-bottom: 8px;
}

.equipment {
}
.equipmentItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 56px 40px 16px;
  width: 112px;
  height: 96px;
  mix-blend-mode: multiply;
  gap: 8px;
  position: relative;
}
.iconEquipment {
  fill: #101828;
  position: absolute;
  top: 16px;
  left: 40px;
}
.button {
  margin-top: 8px;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background: var(--button);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hidden:checked + .equipmentItem {
  border: 1px solid var(--button);
}
.typeItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 16px 32px;
  width: 112px;
  height: 96px;
  mix-blend-mode: multiply;
  gap: 8px;
}
.typeItem:nth-child(even) {
  padding: 4px 16px;
}
.typeText {
  text-align: center;
}
.iconType {
  fill: #101828;
}
.hidden:checked + .typeItem {
  border: 1px solid var(--button);
}
