.featuresContainer {
  padding: 44px 52px;
  width: 631px;
}
.featuresList {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: start;
  align-items: start;
}
.detailsTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  position: relative;
  margin-bottom: 48px;
}
.detailsTitle::after {
  display: block;
  content: "";
  position: absolute;
  width: 527px;
  height: 2px;
  border: 1px solid var(--gray-light);
  background-color: var(--gray-light);
  bottom: -24px;
}
.featuresItem {
  border-radius: 100px;
  padding: 12px 18px;
  width: 143px;
  height: 48px;
  background: var(--badges);
  mix-blend-mode: multiply;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main);
  text-transform: capitalize;
}
